/* .king {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .head-container {
    width: 25%;
    height: 22%;
    position: relative;

    & .head {
      width: 100%;
      height: 100%;
      background: var(--dark-color);
      clip-path: polygon(20% 100%, 0 10%, 50% 0, 100% 10%, 80% 100%);
    }

    & .ball {
      width: 20%;
      height: 22%;
      background: var(--dark-color);
      border-radius: 50%;
      position: absolute;
      transform: translate(200%, -50%);
    }

    & .cross {
      width: 35%;
      height: 50%;
      position: absolute;
      transform: translate(92%, -120%);
      display: flex;
      justify-content: center;
      align-items: center;

      &::before,
      &::after {
        content: "";
        display: block;
        background: var(--dark-color);
        position: absolute;
      }

      &::before {
        width: 2px;
        height: 100%;
      }

      &::after {
        width: 100%;
        height: 2px;
      }
    }
  }

  & .neck {
    width: 20%;
    height: 10px;
    background: var(--light-color);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 120%;
      height: 5px;
      background: var(--dark-color);
      border-radius: 2px;
    }

    &::before {
      transform: translateX(-10%);
    }

    &::after {
      width: 140%;
      transform: translateX(-15%);
      background: var(--light-color);
    }
  }

  & .body {
    width: 40px;
    height: 38px;
    background: var(--dark-color);
    clip-path: polygon(25% 0, 75% 0, 85% 100%, 15% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
} */

/*
.rook {
  align-items: center;

  & .head {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: 10%;
    position: relative;
    z-index: -1;
    background: linear-gradient(to bottom, transparent 65%, var(--light-color) 65%);

    & .left {
      width: 20%;
      height: 100%;
      background: var(--light-color);
      border-radius: 2px 0 0 0;
    }

    & .right {
      width: 70%;
      height: 100%;
      background: var(--light-color);
      border-radius: 0 2px 0 0;
    }
  }

  & .neck {
    width: 20%;
    height: 10px;
    background: var(--light-color);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 130%;
      height: 5px;
      background: var(--dark-color);
      border-radius: 2px;
    }

    &::before {
      width: 160%;
      transform: translateX(-20%);
    }

    &::after {
      transform: translateX(-12%);
      background: var(--light-color);
      border-radius: 0 0 2px 2px;
    }
  }

  & .body {
    width: 40px;
    height: 35px;
    background: var(--dark-color);
    clip-path: polygon(23% 0, 77% 0, 80% 100%, 20% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
}
*/

/*
.pawn {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .head {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: var(--dark-color);
    transform: translateY(10%);
    position: relative;
    z-index: -1;
  }

  & .neck {
    width: 20%;
    height: 10px;
    background: var(--light-color);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 120%;
      height: 5px;
      background: var(--dark-color);
      border-radius: 2px;
    }

    &::before {
      transform: translateX(-10%);
    }

    &::after {
      width: 140%;
      transform: translateX(-15%);
      background: var(--light-color);
    }
  }

  & .body {
    width: 40px;
    height: 20px;
    background: var(--dark-color);
    clip-path: polygon(25% 0, 75% 0, 85% 100%, 15% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
}
*/

/* .bishop {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .head {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    background: var(--dark-color);
    transform: translateY(10%);
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;

    & .gap {
      background: var(--light-color);
      width: 50%;
      height: 3px;
      border-radius: 0 2px 2px 0;
      position: absolute;
      transform: translate(-4px, 6px) rotate(50deg);
    }

    &::before {
      content: "";
      display: block;
      background: var(--dark-color);
      width: 50%;
      height: 50%;
      clip-path: polygon(50% 0, -4% 50%, 0 100%, 100% 100%, 104% 50%);
      transform: translateY(-4px);
    }

    &::after {
      content: "";
      display: block;
      background: var(--dark-color);
      width: 25%;
      height: 25%;
      border-radius: 50%;
      position: absolute;
      transform: translateY(-8px);
      z-index: 5;
    }
  }

  & .neck {
    width: 20%;
    height: 10px;
    background: var(--light-color);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 120%;
      height: 5px;
      background: var(--dark-color);
      border-radius: 2px;
    }

    &::before {
      transform: translateX(-10%);
    }

    &::after {
      width: 140%;
      transform: translateX(-15%);
      background: var(--light-color);
    }
  }

  & .body {
    width: 40px;
    height: 28px;
    background: var(--dark-color);
    clip-path: polygon(25% 0, 75% 0, 85% 100%, 15% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
} */

/* .queen {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .head-container {
    width: 30%;
    height: 20%;
    position: relative;

    & .head {
      width: 100%;
      height: 100%;
      background: var(--dark-color);
      clip-path: polygon(25% 100%, 0 15%, 15% 0, 85% 0, 100% 15%, 75% 100%);
    }

    & .semi-circle {
      background: var(--dark-color);
      border-radius: 50%;
      width: 45%;
      height: 65%;
      position: absolute;
      z-index: 5;
      transform: translate(60%, -30%);
    }

    & .little-ball {
      background: var(--dark-color);
      border-radius: 50%;
      width: 15%;
      height: 20%;
      position: absolute;
      transform: translate(285%, -180%);
    }
  }

  & .neck {
    width: 20%;
    height: 10px;
    background: var(--light-color);

    &::before,
    &::after {
      content: "";
      display: block;
      width: 120%;
      height: 5px;
      background: var(--dark-color);
      border-radius: 2px;
    }

    &::before {
      transform: translateX(-10%);
    }

    &::after {
      width: 140%;
      transform: translateX(-15%);
      background: var(--light-color);
    }
  }

  & .body {
    width: 40px;
    height: 38px;
    background: var(--dark-color);
    clip-path: polygon(30% 0, 70% 0, 85% 100%, 15% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
} */

/*
.knight {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .head {
    width: 50%;
    height: 50%;
    background: var(--dark-color);
    clip-path: polygon(15% 60%, 25% 25%, 60% 0%, 55% 13%, 69% 22%, 75% 35%, 87% 42%, 85% 51%, 80% 51%, 78% 50%, 84% 53%, 78% 60%, 70% 55%, 55% 51%, 78% 100%, 25% 100%, 20% 60%);
  }

  & .body {
    width: 40px;
    height: 12px;
    background: var(--dark-color);
    clip-path: polygon(25% 0, 75% 0, 85% 100%, 15% 100%);
  }

  & .base {
    width: 40px;
    height: 20px;
    background: var(--light-color);
    border-radius: 15% 15% 0 0 / 25% 25% 0 0;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 110%;
      height: 5px;
      background: var(--dark-color);
    }

    &::before {
      transform: translate(-5%, 125%);
      border-radius: 2px;
    }

    &::after {
      transform: translate(-5%, 200%);
      border-radius: 2px 2px 0 0;
    }
  }
}
*/
